<!-- Our EJS rendered HTML -->
<h1>👋 Hello, user!</h1>
<p>This is a message from our server:</p>
<%= aJSMessage %>

<!-- EJS RUN JS -->
<% console.log("🦕🦕🦕🦕 THIS IS EJS RENDERED JS 🦕🦕🦕🦕") %>

<!-- CLIENT SIDE RENDERED JS -->
<script>
    console.log("⚡️⚡️⚡️⚡️ THIS IS CLIENT SIDE JS ⚡️⚡️⚡️⚡️")
</script>